<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Show report </h1> <%=projects.name %> 


        <% for(let i = 0; i < projects.websites.length; i++){ %>
          <li>
            urls
            <a href="/projects/<%=projects.id %>/websites/">
              <%=projects.websites[i].list_of_urls[i].reports[i].report_name %> %>
            </a>
        </li>
        <% } %>
      </a>
  <nav>
      <a href="/projects">Back to project Index</a>
  </nav>
</body>
</html>