<% if (method === 'POST') { %>
  <form class="form-container" action="/projects/<%=projects.id %>/websites/<%=websites._id %>/urls/<%= url._id%>/report/" method="POST">
    Report Name: <input type="text" name="report_name" /><br/>
    Website URL: <input type="text" name="report_url" /><br/>
    <input type="submit" name="" value="Generate report"/>
  </form>
<% } else { %>
<% } %>

