<% if (method === 'POST') { %>
  <form class="form-container" action="/projects/<%=projects.id %>/websites/<%=websites._id %>/urls/" method="POST">
   Websiste URL: <input type="text" name="url_name" /><br/>
    <input type="submit" name="" value="Add URL"/>
  </form>
<% } else { %>
<% } %>