<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>Edit Website </h1>
        <%- include ('../partials/websiteForm.ejs') %>
    </body>
</html>