<!DOCTYPE html>
<%- include ('../partials/head.ejs') %>
<html>
    <%- include ('../partials/navbar.ejs') %>
    <div class ="main-content-container" >
    <body>
        <h1>Edit Website </h1>
        <%- include ('../partials/websiteForm.ejs') %>
    </body>
</div>
</html>