<!DOCTYPE html>
<html lang="en">
  <%- include ('../partials/head.ejs') %>
<body>
  <%- include ('../partials/navbar.ejs') %>
  <div class ="main-content-container" >
  <h1>New Website</h1>
  <%- include ('../partials/websiteForm.ejs', {method: 'POST'}) %>
</div>
</body>
</html>