<!DOCTYPE html>
<html lang="en">
  <%- include ('../partials/head.ejs') %>
<body>
  <div class="container">
    <h1>Sign Up</h1>
    <form action="/users" method="POST">
      <label for="name">Username *</label>
      <input type="text" name="username" required/>
      <label for="color">Password *</label>
      <input type="password" name="password" />
      <br>
      <input type="submit" value="Create account">
    <form>
  </div>
</body>
</html>